@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
    --main-bg-color: black;
}

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
header {
    background-color: var(--main-bg-color);
    color: white;
}

nav {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.logo {
    display: flex;
    font-family: "Pacifico", cursive;
    font-size: larger;
    padding: 0 23px;
    margin: 12px;
    
}
nav ul {
    height: 60px;
    display: flex;
    align-items: center;
    list-style: none;
}
.search{
    display: flex;
    align-items: center;
}
.searchBar{
    display: flex;
    height: 25px;
    width: 30vw;
}
.btn{
    background-color:var(--main-bg-color);
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    margin: 0 23px;
    padding: 0 23px;
    height: 25px;
    font-family: "Arial", sans-serif;

}
.btn:hover{
    color: lightgray;
    font-weight: bold;
}
.infosection{
    position: absolute;
    right: 0;
}
nav ul li a {
    text-decoration: none;
    padding: 23px;
    color: white;
    font-family: "Arial", sans-serif;
}
nav ul li a:hover {
    color: gray;
    font-weight: bold;
}
main{
    background-color: whitesmoke;
}
.card{
    width: 90vw;
    margin: 15px auto;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}
.card h2{
    padding: 12px 26px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 12px;
    width: 160px;
}
.slider{
    width: 80vw;
    margin: 12px auto;

    overflow: hidden;
}
footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: "Poppins", sans-serif;
}